@use './vendor/normalize';
@use './abstracts/vars';

// typgraphic reset
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
    font: inherit;
}
ul, li {
    list-style: none; // removes bullets
}
img {
    vertical-align: top; // removes white space below images
}
* {
    box-sizing: border-box; // invert padding
}
body {
    background-color: white;
}