.calltoaction {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    &_flexbox {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}
