@use '../sass/abstracts/mixins';

.heading {
    font-family: Arial;
    font-weight: bold;
    &.heading1 {
        font-size: 3rem;
    }
    &.heading2 {
        font-size: 1.25rem;
        @include mixins.breakpoint('tablet') {
            font-size: 1.5rem;
        }
        @include mixins.breakpoint('laptop') {
            font-size: 2rem;
        }
    }
    &.heading3 {
        font-size: 1.25rem;
    }
}